* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    input {
      width: 100%;
      padding: 12px;
      border-radius: 10px;
      border: none;
      outline: none;
      background: #1e293b;
      color: white;
      margin-top: 10px;
    }

    button.action {
      width: 100%;
      margin-top: 12px;
      padding: 12px;
      border: none;
      border-radius: 12px;
      background: linear-gradient(45deg, #3b82f6, #06b6d4);
      color: white;
      cursor: pointer;
      transition: 0.3s;
    }

    button.action:hover {
      opacity: 0.8;
      transform: translateY(-2px);
    }

    table {
      width: 100%;
      margin-top: 15px;
      border-collapse: collapse;
    }

    th, td {
      padding: 12px;
      border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    th {
      color: #94a3b8;
    }

    tr:hover {
      background: rgba(255,255,255,0.05);
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(10px); }
      to { opacity: 1; transform: translateY(0); }
    }

    .auth-buttons a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 6px;
  transition: 0.3s;
}

.login-btn {
  background: transparent;
  border: 1px solid #ff0000;
  color: rgb(245, 2, 2);
}

.login-btn:hover {
  background: #f60000;
  color: white;
  background-color: rgb(242, 6, 6);
}

.register-btn {
  background: #ff3c3c;
  color: white;
}

.register-btn:hover {
  opacity: 0.8;
}
